* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #D6E1F0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 250px;
    width: 100%;
    height: 50%;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 15px;
    margin-bottom: 50px;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: 65%;
    object-fit: cover;
    border-radius: 15px;
    padding: 5px;
}

.text {
    width: 95%;
    text-align: center;
}

.bold-text {
    font-size: 19px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}

.normal-text {
    text-align: center;
    font-size: 13px;
    color: gray;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .container {
        width: 250px;
        height: 50%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 250px;
        height: 50%;
    }
}